<div class="container">
  <footer class="footer">
    <small>
      &copy; <a href="https://www.udemy.com">Udemy</a>
      by <a href="https://carolpeters2013.blogspot.com/">CP</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>